<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Cash Machine</h1>
<h2>What do you want to do?</h2>

<a href=http://localhost:9292/getMoney>
    <button>Get Money</button>
</a>

<a href=http://localhost:9292/putMoney>
    <button>Put Money</button>
</a>

<a href=http://localhost:9292/checkBalance>
    <button>Check Balance</button>
</a>

<a href=http://localhost:9292/changePinCode>
    <button>Change PIN Code</button>
</a>

</body>
</html>